<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gxcg">
    <!-- 声明需要拍照权限 -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activity.ClassicsContentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ClassicsItemActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ClassicsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CourseVideoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LsdyDetailsActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.AddLsdyActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.RegisterActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.ForgetPwdActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.PfdtActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.WenzhangDetailActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".activity.AboutUsActivity" />
        <activity android:name=".activity.UserFeedbackActivity" />
        <activity android:name=".activity.FeedbackResultActivity" />
        <activity android:name=".activity.FeedBackDetailActivity" />
        <activity android:name=".activity.AccountActivity" />
        <activity android:name=".activity.CollectionActivity" />
        <activity android:name=".activity.StudyActivity" />
        <activity android:name=".activity.CommentActivity" />
        <activity android:name=".activity.MyArticleActivity" />
        <activity android:name=".activity.OptionActivity" />
        <!--
        <activity android:name="com.example.gxcg.activity.PfdtActivity" android:launchMode="singleInstance"></activity>
        <activity android:name="com.example.gxcg.activity.HsmfdActivity" android:launchMode="singleInstance"></activity>
        <activity android:name="com.example.gxcg.activity.LsjsActivity" android:launchMode="singleInstance"></activity>
        <activity android:name="com.example.gxcg.activity.PfspwebActivity" android:launchMode="singleInstance"></activity>
        <activity android:name="com.example.gxcg.user.YjfkActivity" android:launchMode="singleInstance"></activity>
        <activity android:name="com.example.gxcg.user.AboutActivity" android:launchMode="singleInstance"></activity>
        <activity android:name="com.example.gxcg.user.choucangActivity" android:launchMode="singleInstance"></activity>
        <activity android:name="com.example.gxcg.user.yonghuFragment" android:launchMode="singleInstance"></activity>
        <activity android:name="com.example.gxcg.zjmfd.ZjxzActivity" android:launchMode="singleInstance"></activity>
        <activity android:name="com.example.gxcg.activity.SfjsActivity" android:launchMode="singleInstance"></activity>
        <activity android:name="com.example.gxcg.jdal.jdalDetailActivity" android:launchMode="singleInstance"></activity>
        <activity android:name="com.example.gxcg.sfjs.AllsfjsActivity" android:launchMode="singleInstance"></activity>
        <activity android:name="com.example.gxcg.sfjs.SfjsptnrActivity" android:launchMode="singleInstance"></activity>
        <activity android:name="com.example.gxcg.sfjs.SfjsnrActivity" android:launchMode="singleInstance"></activity>
        <activity android:name="com.example.gxcg.activity.LsdyActivity" android:launchMode="singleInstance"></activity>
        <activity android:name="com.example.gxcg.activity.ZhuceActivity" android:launchMode="singleInstance"></activity>
        <activity android:name="com.example.gxcg.activity.FlyzActivity" android:launchMode="singleInstance"></activity>
        <activity android:name="com.example.gxcg.activity.WzListActivity" android:launchMode="singleInstance"></activity>
        <activity android:name="com.example.gxcg.activity.WenzhangDetailActivity" android:launchMode="singleInstance"></activity>
        <activity android:name="com.example.gxcg.activity.SearchActivity" android:launchMode="singleInstance"></activity>
        <activity android:name="com.example.gxcg.activity.SearchftActivity" android:launchMode="singleInstance"></activity>
        <activity android:name="com.example.gxcg.activity.WjmmActivity" android:launchMode="singleInstance"></activity>
        <activity android:name="com.example.gxcg.activity.LsdyDetailsActivity" android:launchMode="singleInstance"></activity>
        <activity android:name="com.example.gxcg.activity.FlyzDetailsActivity" android:launchMode="singleInstance"></activity>
        <activity android:name="com.example.gxcg.activity.homeSearchActivity" android:launchMode="singleInstance"></activity>
        <activity android:name="com.example.gxcg.activity.sfyzActivity" android:launchMode="singleInstance"></activity>
        <activity android:name="com.example.gxcg.activity.AddLsdyActivity" android:launchMode="singleInstance"></activity>
        -->
        <activity android:name=".activity.QuestionActivity" />
        <activity android:name=".activity.QusetionDetailActivity" />
        <activity android:name=".activity.MyAchievementActivity" />
        <activity android:name=".activity.MyLaboratoryActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application> <!-- 申明网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 声明需要写存储卡权限 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>